body {
	background-image: url("../resources/images/Wedding+Ring+Photo+on+Succulent.jpeg");
	//background-image: url("../resources/images/2014-12-20_0004.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	z-index: 1;

	font-family: 'Lato', sans-serif;
}
h1 {
	color: white;
	font-weight: 100;
	font-size: 75px;
	text-align: center;
}