body {
	//background-image: url("../resources/images/Wedding+Ring+Photo+on+Succulent.jpeg");
	//background-image: url("../resources/images/2014-12-20_0004.jpg");
	/*background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	z-index: 1;*/
	/* font-family: 'Lato', sans-serif; */
	font-family: 'Bitter', 'Lekton', 'Courier';
	color: #272727;
	background: #faefeb;
}

a {
	text-decoration: none;
	color: #272727;
}
a:visited {
	color: #272727;
}

h1 {
	text-align: center;
	font-family: 'Sacramento', cursive;
	font-size: 2.5em;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

section {
	border-bottom: 1px solid #FD9981;
}

.content section:last-of-type {
	border: 0;
}

.button {
	border: 2px solid #272727;
	padding: 13px 26px;
	text-align: center;
	display: inline-block;
	background: white;
}

.button:hover,
.mdl-tabs__tab.is-active {
	color: white;
	background: #272727;
}

/* Title Area */
.cover-photo {
	width: 100%;
	height: auto;
}

title {
	display: block;
	color: #5B514E;
	font-weight: 100;
	font-size: 75px;
	text-align: center;
	position: absolute;
	top: 40px;
	font-family: 'Sacramento', cursive;
	width: 100%;
}

.nav {
	color: white;
	position: absolute;
	top: 100px;
}

.nav li {
	list-style: none;
	font-weight: 300;
}

.content {

}

.content section {
	
}


/* Temportary hide these sections until they're completed */
.nav, 
#our-story,
#things-to-do,
#registry {
	display: none;
}

.mdl-tabs__tab-bar {
	text-align: center;
	margin-bottom: 70px;
}

.mdl-tabs__tab {
	width: 165px;
}

.mdl-tabs__panel {
	display: none;
}

.mdl-tabs__panel.is-active {
	display: block;
}

#event-details {
	position: relative;
	min-height: 330px;
}

.wedding-details-panel {
	position: absolute;
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	left: 40px;
	top: 30px;
	padding: 20px;
}

.wedding-details-panel h1 {
	margin-left: -30px;
}

.wedding-details-panel h1:after {
	content: '';
	width: 100px;
	height: 100px;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url("../resources/images/rings.png");
	background-size: 46px;
	background-position-x: 10px;
}

#getting-here {
	background: #faefeb;
	margin: 0 auto;
	padding: 0 0 60px;

	/* Turning off for now because getting here is the last element */
	border: none;
}

.panel-container {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
}

.item-panel {
	width: 300px;
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.05);
	margin: 0 10px 10px;
	padding: 18px 0 76px;
	position: relative;
}

.panel-content {
	padding: 0 22px;
}

.item-panel ul {
	padding: 0 22px;
}

.item-panel li {
	list-style: none;
	margin-bottom: 10px;
}

.panel-image {
	width: 100%;
	height: auto;
}

.trasportation span {
	padding-right: 16px;
}

/* Hotels */
.hotel-details {
	display: flex;
	flex-flow: column;
}

.price {
	color: #CECECE;
}

.price span {
	color: #272727;
}

.address {
	display: inline-flex;
	flex-flow: column;
}

.hotel-details .airbnb-recomendation span {
	font-weight: 700;
}

.hotel-link {
	position: absolute;
	left: 50%;
	bottom: 20px;
}

.hotel-link a {
	position: relative;
	left: -50%;
}

/* Registry */

#registry {
	margin-bottom: 50px;
}

.registry {
	width: 400px;
	height: 200px;
}
.honeymoon {
	
}


/* Responsive Section */
@media screen and (max-width: 1200px) {
	title {
		font-size: 74px;
	}
}

@media screen and (max-width: 1145px) {
    .wedding-location {
        height: 330px;
        width: auto;
        float: right;
    }

    .wedding-details-panel {
    	top: 30px;
    	left: 30px;
    }
}

@media screen and (max-width: 985px) {
    .wedding-location {
        margin-right: -10%
    }
}

@media screen and (max-width: 866px) {
	title {
		color: #5B514E;
	}

	p {
		font-size: 14px;
	}

	h1 {
		font-size: 32px;
	}

	.wedding-location {
		display: none;
	}

	.wedding-location-bg {
		background: url("../resources/images/wedding-location-with-location.png");
		background-size: cover;
		background-position-x: 90%; 
		width: 100%;
		height: 330px;
	}

    .wedding-details-panel {
    	position: relative;
    	top: 0;
    	left: 0;
    	box-shadow: none;
    	width: 100%;
    	padding: 20px 0;
    }

    .wedding-details-panel h1 {
    	background: none;
    	background-size: 26px;
    }

    .wedding-details-panel h1:after {
		background-size: 26px;
		background-position-x: 5px;
    }

    .wedding-details-panel p {
    	padding: 0 20px;
    }
}

@media screen and (max-width: 640px) {
	/*title {
		font-size: 46px;
	}*/

	.item-panel {
		width: 100%;
		margin: 10px 15px;
	}

	#getting-here {
		padding-bottom: 20px;
	}
}

@media screen and (max-width: 480px) {
	.mdl-tabs__tab-bar a {
		font-size: 12px;
		width: 85px;
	}
}

@media screen and (max-width: 400px) {
	/*title {
		font-size: 36px;
	}*/
}